main {
  background-color: var(--header-blue);
  /* outline: 3px solid pink; */
}

section {
  margin: 0px 3px;
  /* background-color: lightgray; */
  color: var(--header-blue);
  padding: 7px;
  padding-top: 70px;
  /* outline: 3px solid yellow; */
}
.exhibition-title, .description {
  /* outline: 2px solid red; */
  background-color: var(--exhibition-background);
  
  margin: 7px 0px;
  
  border-radius: 3px;
  padding: 7px;
}
.exhibition-title {
  text-transform: uppercase;
}
.carousel-container {
  width: 100%;
  max-width: 750px;
  /* outline: 3px solid red; */
  
}
mat-carousel {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
mat-carousel-slide {
  width: 100%;
}


.slide-data-container-container {
  width: 100%;
  height: 100%;
  
}
.slide-data-container {
  padding-left: 30px;
  margin-top: 10px;
  
}

.caption-price-copyright {
  padding: 2px 0px 2px 5px;
  background-color: lightgray;
  opacity: 0.7;
}
.caption, .copyright, .price {
  color: black;
  padding-right: 7px;
  font-size: .6rem;;
}

.description {
  font-size: 0.9rem;
  /* outline: 3px solid green; */
  
}
.artist-name {
  margin: 10px 0px; 
}

ul, li {
  padding: 0px;
  margin: 0px;
}
a {
  color: var(--header-blue);
}
a:hover {
  color: var(--text-color-orange)
}






/* ********************* */
@media (min-width: 320px) and (max-width: 480px) {
  /* .main {
    border: 5px solid pink;
  }
  .top-section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
 

  .container-first-image {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .text-container {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  
  .additional-photos-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  .additional-photos-container :nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  
  .additional-photos-container :nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 13;

  }
  
  .additional-photos-container :nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 13;
  }
  .additional-photos-container :nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 13;
  } */

}

@media (min-width: 481px) and (max-width: 767px) {
  /* .main {
    border: 5px solid green;
  }


  .top-section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .container-first-image {
    background-color: #ccc;
    border-radius: 6px;
    padding: 15px;
    margin: 7px;
  }
  .container-first-image {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .text-container {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  
  .additional-photos-container {
    background-color: #ccc;
    margin: 7px;
    border-radius: 6px;;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  .additional-photos-container :nth-child(1) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  
  .additional-photos-container :nth-child(2) {
    grid-column-start: 1;
    grid-column-end: -1;

  }
  
  .additional-photos-container :nth-child(3) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .additional-photos-container :nth-child(4) {
    grid-column-start: 1;
    grid-column-end: -1;
  } */
}
@media (min-width: 768px)  {
/* @media (min-width: 768px) and (max-width: 1024px) { */
  /* .main {
    border: 5px solid red;
  }

  .top-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  .container-first-image {
    background-color: #ccc;
    border-radius: 6px;
    padding: 15px;
    margin: 7px;
  }

  .container-first-image {
    grid-column: 1 / 2;
  }
  .text-container {
    grid-column: 2 / 3;
  }

  
  .additional-photos-container {
    background-color: #ccc;
    margin: 7px;
    padding: 15px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-template-areas: 
      
      "a a a a a b b b b b b b"
      "a a a a a b b b b b b b"      
      "c c c c c c c d d d d d"

  }
  
  .additional-image-container {   
  }

  .additional-photos-container :nth-child(1) {
    grid-area: a;
  }

  .additional-photos-container :nth-child(2) {
    grid-area: b;
  }

  .additional-photos-container :nth-child(3) {
    grid-area: d;
  }
  .additional-photos-container :nth-child(4) {
    grid-area: c;
  } */
}


@media (min-width: 1025px) and (max-width: 1280px) { }

@media (min-width: 1281px) { }
