<div class="wrapper">
  <mat-toolbar fxLayout fxLayoutAlign="space-between">
    <div class="toolbar-left" fxLayout fxLayoutAlign="center center">
      <!-- <mat-icon fxHide.gt-sm class="menu-icon" (click)="onOpenSidenav()">menu</mat-icon> -->
      <fa-icon (click)="onOpenSidenav()" fxHide.gt-sm [icon]="faBars"></fa-icon>
    </div>

    <!-- <div class="spacer" fxFlex></div> -->

    <div class="toolbar-right" fxLayout>

      <div class="list-container" fxLayout fxLayoutAlign="center center" fxHide.lt-md>
        <ul fxLayout fxLayoutGap="15px">
          <li><a routerLinkActive="active-link" routerLink="/home">HOME</a></li>
          <li><a routerLinkActive="active-link" routerLink="/drinks">DRINKS</a></li>

          <li><a routerLinkActive="active-link" routerLink="/lunch">LUNCH</a></li>
          <li *ngIf="language === 'english'"><a routerLinkActive="active-link" routerLink="/dinner">DINNER</a></li>
          <li *ngIf="language === 'dutch'"><a routerLinkActive="active-link" routerLink="/dinner">DINER</a></li>
          <li><a routerLinkActive="active-link" routerLink="/snacks">SNACKS</a></li>
          <li *ngIf="language === 'dutch'"><a routerLinkActive="active-link" routerLink="/beers">BIEREN</a></li>
          <li *ngIf="language === 'english'"><a routerLinkActive="active-link" routerLink="/beers">BEERS</a></li>
          <li *ngIf="language === 'dutch'"><a routerLinkActive="active-link" routerLink="/exhibitions">EXPOSITIES</a>
          </li>
          <li *ngIf="language === 'english'"><a routerLinkActive="active-link" routerLink="/exhibitions">EXHIBITIONS</a>
          </li>
        </ul>
      </div>
      <div fxHide.gt-sm class="list-container" fxLayout fxLayoutAlign="center center">
        <ul class="expositions-link-container">
          <li class="expositions-link" *ngIf="isShowcaseActive && language === 'dutch'"><a
              routerLink="/exhibitions">EXPOSITIES</a></li>
          <li class="expositions-link" *ngIf="isShowcaseActive && language === 'english'"><a
              routerLink="/exhibitions">EXHIBITIONS</a></li>
        </ul>
      </div>
    </div>
  </mat-toolbar>
</div>
