/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  letter-spacing: 1.2px;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
 

html, body { height: 100%; }
body {
    margin: 0; 
    height: 100% }

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  --background-color-1: white;
  --color-1: black;
  --background-color-2: black;
  --color-2: white;
  --background-color-3: lightblue;
  --color-3: green;
  --app-footer-height: 50px;
}
